{% extends "base.html" %}
{% load socialaccount %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<h1>Homepage</h1>

{% if user.is_authenticated %}

<p>Hi {{ user.username }} | <span><a href="{% url 'account_logout' %}">Sign Out</a></span></p>
<h3>Users</h3>
<p>Here are other users on this platform</p>
<ul class="user-list">
  {% for user in user_list %}
  <li>
    {{user}}
    <span>
      <a id="followButton" data-id="{{user.pk}}" href="{% url 'follow' friend_id=user.pk %}">{% csrf_token %}follow</a>
    </span>
  </li>
  {% endfor %}
</ul>

<h3>Following</h3>
<p>You are following:</p>
<div class="friend-list">
  {% for friend in request.user.profile.following.all %}
  <li>{{ friend }}</li>
  {% empty %}
  <li>No one yet</li>
  {% endfor %}
</div>
<!-- Posts -->
<h3>Posts</h3>
<ul class="post-list">
  {% for posting in post_list %}

  <li>
    {{ posting.post }}
    <br>
    <span>-{{posting.author.username}}</span>
    <br>
    <br>
    <!-- Note the lack of brackets -->
    <span>{{posting.likers.all.count}} likes | <a id="likeButton" data-id="{{posting.pk}}" href="{% url 'like' post_pk=posting.pk %}">{%csrf_token%}like</a>
    </span>
  </li>

  {% empty %}

  <li>No posts yet</li>

  {% endfor %}
</ul>

<!-- I have created profiles for some of the users not all -->
<ul>
  {% for user in profile_list %}
  <li>{{user}}</li>
  {% endfor %}
</ul>

{% else %}

<p>
  <a href="{% url 'account_login' %}">Sign In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a> |
  <a href="{% provider_login_url 'google' %}">Log In with Gmail</a>
</p>

{% endif %}

{% endblock content %}